a:visited {
    color: #ffffff;
}

.header {
    background-image: url('/assets/logo.png');
    background-repeat: no-repeat;
    height: 70px;
    margin-bottom: 20px;
}

#hamburger-menu {
    height: 32px;
    width: 32px;
    background-image: url('/assets/hamburger.png');
    float: right;
}
