  <div class="view-header">
    <span>09391 » Stonecrest Medical Center</span>
  </div>
  
  <div class="menu">

    <div>
      <img src="/assets/procurement.png">
      <span>Procurement</span>
    </div>

    <div>
      <img src="/assets/receiving.png">
      <span>Receiving</span>
    </div>

    <div>
      <img src="/assets/inventory.png">
      <span>Physical Inventory</span>
    </div>

    <div>
      <a routerLink="/barcode">
        <img src="/assets/returns.png">
        <span>Returns</span>
      </a>
    </div>

    <div>
        <img src="/assets/approvals.png">
        <span>Approvals</span>
    </div>

    <div>
        <img src="/assets/ed-charge-capture.png">
        <span>ED Charge Capture</span>
    </div>

    <div>
        <img src="/assets/distribution.png">
        <span>Distribution</span>
    </div>

</div>