<div id="scanner">
  <div class="video-container">
      <video id="video-player" autoplay="true" controls="true">
          Your browser does not support HTML5 video.
      </video>
      <canvas id="scanner-canvas" class="drawingBuffer"></canvas> <!-- Overlay -->
  </div>

  <div class="button-container">
      <button type="button" (click)="startScanner()">Start</button>&nbsp;
      <button type="button" (click)="stopScanner()">Stop</button>
      <ul id="barcode-result">
        
      </ul>
  </div>

</div>
