h3 {
    text-align: center;
}

h2 {
    font-size: 13pt;
    display: inline;
    margin-left: 12px;
}

select {
    padding: 5px;
}

.barcode-component {
    width: 100%;
}


button {
    padding: 10px;
}

.video-container {
    width: 100%;
}

div#scanner {
    position: absolute;
    width: 350px;
    top: 150px;
}

video {
    border-radius: 6px;
    width: 100%; 
    position: absolute;
    border: 4px solid #000;
}

canvas.drawingBuffer {
    border-radius: 6px;
    width: 100%; 
    position: absolute;
}

.button-container {
    margin-top: 270px;
    margin-left: 21px;
}

#barcode-result {
    margin-left: 12px;
    font-weight: bold;
}